@model IEnumerable<Sandbox.Data.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestProjectTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatestProjectId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestProjectTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestProjectId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
