@model Sandbox.Data.Campaign

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Campaign</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectCount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectCount)
                @Html.ValidationMessageFor(model => model.ProjectCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LatestProjectTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LatestProjectTime)
                @Html.ValidationMessageFor(model => model.LatestProjectTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LatestProjectName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LatestProjectName)
                @Html.ValidationMessageFor(model => model.LatestProjectName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, "ClientId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LatestProjectId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LatestProjectId)
                @Html.ValidationMessageFor(model => model.LatestProjectId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
