@model Sandbox.WebApp.ViewModels.Campaign.DetailsVM

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name <small>@Model.LatestProjectTime</small></h2>
<div class="row">
    <div class="col-xs-12">
        <!-- todo <img src="@Model.ImageUrl" alt="@Model.Name" /> -->
    </div>
    @foreach (var project in Model.Projects)
    {
        <div class="col-xs-12 col-sm-6 col-md-3">
            <a class="fill-div" href="/Project/Details?name=@project.Name">
                <img src="/Content/200x175.png" alt="@project.Name" />
                <span class="text-overlay" onclick="window.location.href='/Project/Details?name=@project.Name'">@project.Name</span>
            </a>
        </div>
    }
</div>
<script src="/Scripts/text-overlay.js" type="text/javascript"></script>