@model Sandbox.Data.Campaign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestProjectTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestProjectTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestProjectId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
