@model Sandbox.WebApp.ViewModels.Campaign.IndexVM

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model.Campaigns)
{
   <div class="row">
       <h2>@item.GroupName</h2>
       @foreach (var groupsCampaign in item.Campaigns)
       {
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name (url @groupsCampaign.ImageUrl)</span>
               </a>
            </div>
           
           //Additional temp layout test divs
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name</span>
               </a>
            </div>
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name</span>
               </a>
            </div>
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name</span>
               </a>
            </div>
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name</span>
               </a>
            </div>
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name</span>
               </a>
            </div>
           <div class="col-xs-6 col-sm-5 col-md-3">
               <a class="fill-div" href="">
                   <img src="/Content/200x175.png" /><br/>
                   <span>@groupsCampaign.Name</span>
               </a>
            </div>
           //End temp layout test divs
           
       }
   </div>
}


